In [2]:
# Imports
import os
import pandas as pd
import xml.etree.ElementTree as ET
from sqlalchemy import create_engine, text

In [10]:
# Load TPC-DI Batch 1
dir_path = "/Ivan/OneDrive/Projetos/Códigos ( Profissional )/Material criado/TCC/Load_base_DB/sf50/"
batch_name = "Batch3"
actual_path = dir_path + batch_name# + "/"
print(actual_path)

/Ivan/OneDrive/Projetos/Códigos ( Profissional )/Material criado/TCC/Load_base_DB/sf50/Batch3

# Historical Load - Batch1

In [11]:
database = "tpc"
schema = "tpc"
uri = "postgresql://postgres:postgres@192.168.1.30:5432/"
# Connect to database
engine = create_engine(uri + database, echo=False)

# Daily Market

In [14]:
# DailyMarket
# Columns Names
cols = ["FLAG","IDX","DM_DATE", "DM_S_SYMB", "DM_CLOSE", "DM_HIGH", "DM_LOW", "DM_VOL"]
# Read file
df_daily_market = pd.read_csv(f"{actual_path}/DailyMarket.txt",sep="|", header=None, names=cols)
# df_daily_market["CDC_FLAG"] = None
# df_daily_market["CDC_DSN"] = None
df_daily_market.DM_DATE = pd.to_datetime(df_daily_market.DM_DATE, format="%Y-%m-%d")
df_daily_market = df_daily_market[cols[2:]]
df_daily_market.head(3)

     DM_DATE        DM_S_SYMB  DM_CLOSE  DM_HIGH  DM_LOW     DM_VOL
0 2017-07-08  AAAAAAAAAAACFPX    243.33   253.15  174.76  517368935
1 2017-07-08  AAAAAAAAAAABHAL    690.80   908.07  523.14  957542963
2 2017-07-08  AAAAAAAAAAAAADC    640.55   847.17  587.50  527569403

In [15]:
df_daily_market.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38399 entries, 0 to 38398
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   DM_DATE    38399 non-null  datetime64[ns]
 1   DM_S_SYMB  38399 non-null  object
 2   DM_CLOSE   38399 non-null  float64
 3   DM_HIGH    38399 non-null  float64
 4   DM_LOW     38399 non-null  float64
 5   DM_VOL     38399 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 3.8 MB

In [55]:
with engine.begin() as connection:
    df_daily_market.to_sql(name="DailyMarket", con=connection, schema=schema, if_exists="replace", index=False)

print("DailyMarket loaded")

DailyMarket loaded